<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <%
        let max_x = numArr[1].map(a => a.length).reduce((a, e) => (e>a)? e: a, 0);
        let max_y = numArr[0].map(a => a.length).reduce((a, e) => (e>a)? e: a, 0);
    %> 
        <div class="flex_container">
            <div class="flex_horizontal">
                <div style="width: calc(min(calc(60vw/<%=x +max_x%>), calc(70vh/<%=y + max_y%>)) * <%=max_x%>); height: calc(min(calc(60vw/<%=x +max_x%>), calc(70vh/<%=y + max_y%>)) * <%=max_y%>);"></div>
                
                <div class="x_number_container">
                    <% for(var i = 0; i < x; i++){ %>
                        <button class="flex-button" id="x-<%=i%>" data="<%=JSON.stringify(numArr[0][i])%>" style="width: min(calc(60vw/<%=x +max_x%>), calc(70vh/<%=y + max_y%>)); height: calc(min(calc(60vw/<%=x +max_x%>), calc(70vh/<%=y + max_y%>)) * <%=max_y%>);" >
                            <span class="x_number">
                            <%
                                let current = numArr[0][i];
                                for(var j = 0; j < current.length; j++){
                                    %> <%= current[j] %> <br> <%
                                }
                            %>
                            </span>
                        </button>
                    <%}%>
                </div>
            </div>
            
            <div class="flex_horizontal">
                <div class="y_number_container">
                    <% for(var i = 0; i < y; i++){ %>
                        <button class="flex-button" id="y-<%=i%>" data="<%=JSON.stringify(numArr[1][i])%>" 
                            style="height: min(calc(60vw/<%=x +max_x%>), calc(70vh/<%=y + max_y%>)); width: calc(min(calc(60vw/<%=x +max_x%>), calc(70vh/<%=y + max_y%>)) * <%=max_x%>);" >
                            <span class="y_number">
                                <%
                                let current = numArr[1][i];
                                for(var j = 0; j < current.length; j++){
                                    %> <%= current[j] %>  <%
                                }
                                %>
                            </span>
                            </button>
                        <br>
                    <%}%>
                </div>
                <div class="button_container">
                    <% for(var i = 0; i < y; i++){ 
                        for(var j = 0; j < x; j++){ %>
                            
                            <button id="<%=j%>-<%=i%>" x="<%=j%>" y="<%=i%>" class="square hide_x hide_black" style="width: min(calc(60vw/<%=x +max_x%>), calc(70vh/<%=y + max_y%>)); height: min(calc(60vw/<%=x +max_x%>), calc(70vh/<%=y + max_y%>));">
                                <svg fill="#808080" height="100%" width="100%" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-221.17 -221.17 903.12 903.12" xml:space="preserve" stroke="#808080" transform="rotate(0)"><g id="SVGRepo_bgCarrier" stroke-width="0" transform="translate(0,0), scale(1)"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="808080" stroke-width="0.9215500000000001"></g><g id="SVGRepo_iconCarrier"> <path d="M285.08,230.397L456.218,59.27c6.076-6.077,6.076-15.911,0-21.986L423.511,4.565c-2.913-2.911-6.866-4.55-10.992-4.55 c-4.127,0-8.08,1.639-10.993,4.55l-171.138,171.14L59.25,4.565c-2.913-2.911-6.866-4.55-10.993-4.55 c-4.126,0-8.08,1.639-10.992,4.55L4.558,37.284c-6.077,6.075-6.077,15.909,0,21.986l171.138,171.128L4.575,401.505 c-6.074,6.077-6.074,15.911,0,21.986l32.709,32.719c2.911,2.911,6.865,4.55,10.992,4.55c4.127,0,8.08-1.639,10.994-4.55 l171.117-171.12l171.118,171.12c2.913,2.911,6.866,4.55,10.993,4.55c4.128,0,8.081-1.639,10.992-4.55l32.709-32.719 c6.074-6.075,6.074-15.909,0-21.986L285.08,230.397z"></path> </g></svg>                
                            </button>
                        <% } %>
                        <br>
                    <% } %>
                </div>
            </div>
            

            <div class="choice_container">
                <div class="choice" id="x">
                    <svg fill="#808080" height="100%" width="100%" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-221.17 -221.17 903.12 903.12" xml:space="preserve" stroke="#808080" transform="rotate(0)"><g id="SVGRepo_bgCarrier" stroke-width="0" transform="translate(0,0), scale(1)"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="808080" stroke-width="0.9215500000000001"></g><g id="SVGRepo_iconCarrier"> <path d="M285.08,230.397L456.218,59.27c6.076-6.077,6.076-15.911,0-21.986L423.511,4.565c-2.913-2.911-6.866-4.55-10.992-4.55 c-4.127,0-8.08,1.639-10.993,4.55l-171.138,171.14L59.25,4.565c-2.913-2.911-6.866-4.55-10.993-4.55 c-4.126,0-8.08,1.639-10.992,4.55L4.558,37.284c-6.077,6.075-6.077,15.909,0,21.986l171.138,171.128L4.575,401.505 c-6.074,6.077-6.074,15.911,0,21.986l32.709,32.719c2.911,2.911,6.865,4.55,10.992,4.55c4.127,0,8.08-1.639,10.994-4.55 l171.117-171.12l171.118,171.12c2.913,2.911,6.866,4.55,10.993,4.55c4.128,0,8.081-1.639,10.992-4.55l32.709-32.719 c6.074-6.075,6.074-15.909,0-21.986L285.08,230.397z"></path> </g></svg>            
                </div>
                <div class="choice red_out" id="fill"></div>

            </div>
        </div>
    
    <div id="store_data" data="<%= JSON.stringify(numArr)%>"></div>
    <form action="/result" method="POST">
      <button type="submit" value="<%=id%>" name="result" id="over" class="result"></button>
    </form>    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="script.js" charset="utf-8">
    </script>
</body>
</html>