<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <div class="flex_container">
        <div><h1><%=name%></h1></div>
        <div class="button_container">

            <% for(var i = 0; i < y; i++){ 
                for(var j = 0; j < x; j++){ %>
                    
                    <button
                    style="width: min(calc(60vw/<%=x%>), calc(70vh/<%=y%>)); height: min(calc(60vw/<%=x%>), calc(70vh/<%=y%>));
                    background-color: <%=(squares[j][i] === true)? 'black' : 'transparent'%>">
                    </button>
                <% } %>
                <br>
            <% } %>
        </div>
        <div><a href="<%=url%>/all-art"><button>Try another one!</button></a></div>
        <div><a href="<%=url%>"><button>Make one yourself!</button></a></div>

    </div>

</body>
</html>